<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Knapsack Problem</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
</head>

<body>
  <div class="container-fluid row p-2">
    <div class="col container-fluid border border-primary rounded p-4 ml-3" style="max-width: 400px; max-height: 70vh;">
      <!-- HEADER  -->
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="problem-tab" data-toggle="tab" href="#problem" role="tab"
            aria-controls="problem" aria-selected="true">
            Programa
          </a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program"
            aria-selected="false">
            Problema
          </a>
        </li>
      </ul>

      <form action="" class="needs-validation novalidate mt-4" role="form" method="post">
        <div class="tab-content">
          <!-- FORM PROGRAM -->
          <div class="tab-pane fade show active" id="problem" role="tabpanel" aria-labelledby="problem-tab">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Tamanho da população</label>
                <input type="text" class="form-control" name="dna_chromosomes" value="{{ form.dna_chromosomes }}"
                  placeholder="0" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Numero de Interações</label>
                <input type="text" class="form-control" name="interactions" value="{{ form.interactions }}"
                  placeholder="0" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Intervalo de geração (%)</label>
                <input type="text" class="form-control" name="generation_interval"
                  value="{{ (form.generation_interval  * 100)|int }}" placeholder="0" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Taxa de mutação (%)</label>
                <input type="text" class="form-control" name="mutation_rate" value="{{ (form.mutation_rate * 100)|int }}"
                  placeholder="0" aria-describedby="basic-addon1" />
              </div>
            </div>
          </div>

          <!-- FORM PROBLEM -->
          <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label>Peso maximo da mochila</label>
                <input type="text" class="form-control" name="knapsack_weight"
                  value="{{ form.knapsack_weight }}" placeholder="0" aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6 mb-3">
                <label>Peso do objeto</label>
                <input type="text" class="form-control" name="object_weight_min"
                  value="{{ form.object_weight_min }}" value="0" placeholder="minimo"
                  aria-describedby="basic-addon1" />
              </div>
              <div class="col col-md-6 mb-3">
                <label>&nbsp;</label>
                <input type="text" class="form-control" name="object_weight_max"
                  value="{{ form.object_weight_max }}" placeholder="maximo"
                  aria-describedby="basic-addon1" />
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6 mb-3">
                <label>Valor do objeto</label>
                <input type="text" class="form-control" name="object_value_min"
                  value="{{ form.object_value_min }}" placeholder="minimo"
                  aria-describedby="basic-addon1" />
              </div>
              <div class="col col-md-6 mb-3">
                <label>&nbsp;</label>
                <input type="text" class="form-control" name="object_value_max"
                  value="{{ form.object_value_max }}" placeholder="maximo"
                  aria-describedby="basic-addon1" />
              </div>
            </div>

            <div class="row justify-content-center p-3 mt-2">
              <button class="btn btn-primary btn-block" type="submit">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col ml-4 p-2">

      {% for individual in population %}
      <table class="table table-striped border table-bordered " style="font-size: 14px;margin-bottom: 4%;">
        <thead>
          <tr>
            {% if individual.adept == True %}
            <th scope="col" style="background-color: green;">
              Knap_{{ loop.index }}</th>
            {% else %}
            <th scope="col">
              Knap_{{ loop.index }}</th>
            {% endif %}

            {% for i in range(0, individual.individual.objects|length) %}
            <th scope="col">OBJ_{{ i + 1 }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">Peso - {{ '%0.2f' % individual.individual.weight|float }}</th>
            {% for obj in individual.individual.objects %}
            <td>{{ '%0.2f' % individual.individual.weight|float }}</td>
            {% endfor %}
          </tr>
          <th scope="row">Valor - {{ '%0.2f' % individual.individual.value|float }}</th>
          {% for obj in individual.individual.objects %}
          <td>{{ '%0.2f' % individual.individual.value|float }}</td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>